:root {
  --color-primary: #333333;
  --color-secondary: #414040;
  --color-headings: #ffd700;
  --color-body: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.block {
  padding: 0 6rem;
  background: var(--color-primary);
}

.container {
  margin: 0 auto;
  background: var(--color-primary);
}

.hero {
  display: grid;
  gap: 3rem 3rem;
}

.hero__content {
  font-family: "Bebas Neue";
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  text-align: center;
}

/* Hero */

.hero__content > h1 {
  color: var(--color-headings);
  font-size: 4rem;
  line-height: 1.1;
  font-weight: normal;
  margin: 3rem 0 0 0;
}

.hero__content > h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  margin: 2rem 0 0 0;
}

.hero__content > p {
  font-size: 1.3rem;
  font-family: "Roboto Flex";
  color: #fff;
  margin: 1rem 0 0 0;
}

.hero__content a {
  background: var(--color-primary);
  border: 1px solid #c5b3b3;
  color: var(--color-headings);
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  outline: 0;
  padding: 0.6rem 4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3rem 0 0 0;
}

.hero__content a:hover {
  color: var(--color-primary);
  background: var(--color-headings);
  border: 1px solid var(--color-headings);
  transition: 0.5s;
}

.hero__footer {
  display: flex;
  align-items: center;
}

.hero__footer h1 {
  color: var(--color-headings);
  font-size: 4.7rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  margin-right: 1rem;
}

.hero__footer > p {
  color: var(--color-body);
  font-size: 1.5rem;
  font-family: "Roboto Flex";
  line-height: 1.3;
  text-align: start;
}

.hero__footer p:nth-child(2) {
  margin-right: 3rem;
}

.hero__image {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  background: #414040;
  border-radius: 50%;
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0;
  display: flex;
}

.circle img {
  align-self: flex-end;
}

.icon-container {
  width: 22%;
  aspect-ratio: 1/1;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  background: var(--color-secondary);
  box-shadow: 8px 8px 10px black;
  z-index: 1000;
  position: absolute;
}

.icon-container-small {
  width: 17%;
  aspect-ratio: 1/1;
}

.icon-container-rotate {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container-rotate:hover {
  animation: rotateShadow 2.5s linear infinite;
}

@keyframes rotateShadow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-container svg {
  aspect-ratio: 1/1;
  fill: #fff;
  width: 60%;
}

.icon-container svg:hover {
  aspect-ratio: 1/1;
  fill: var(--color-headings);
  width: 70%;
  transition: 0.5s;
}

.icon-container-small svg {
  aspect-ratio: 1/1;
  width: 55%;
}

.icon-container-small svg:hover {
  aspect-ratio: 1/1;
  width: 65%;
}

.container-react {
  bottom: 30%;
  right: -3%;
}

.container-python {
  bottom: 37%;
  left: -4%;
}

.container-node {
  top: -2%;
  right: 20%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }

  .hero {
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 3rem;
    background: var(--color-primary);
  }

  .hero__content {
    align-items: flex-start;
    justify-content: start;
    text-align: start;
  }

  .hero__content > h1 {
    font-size: 5rem;
  }

  .hero__content > h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .hero__content > p {
    margin-top: 1rem;
  }

  .hero__content button {
    margin-top: 4rem;
  }

  .hero__footer {
    margin-top: 4rem;
    line-height: 1.1;
    padding: 0;
  }

  .hero__footer > h1 {
    margin: 0 10px 0 0;
  }

  .hero__footer p:nth-child(2) {
    margin-right: 5rem;
  }

  .hero__image {
    align-self: end;
    position: relative;
  }
}

/* Navbar */

header {
  padding: 3rem 10%;
  background: var(--color-primary);
}

.navbar {
  white-space: nowrap;
}

.nav__headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 2.6rem;
  font-weight: normal;
  color: var(--color-body);
}

.nav__links ul li,
.nav__socials a {
  margin: 1rem 0;
  padding-left: 1rem;
}

.nav__links ul li {
  list-style: none;
}

.nav__links ul li a {
  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-body);
}

.nav__links ul li a:hover,
.nav__socials a:hover .nav__icon use,
.nav__socials a:hover .nav__text {
  color: var(--color-headings);
  transition: 0.5s;
}

.nav__socials a:hover .nav__icon use {
  fill: var(--color-headings);
}

.nav__links ul li a .active {
  color: var(--color-headings);
}

.nav__links ul li a .active:hover {
  color: var(--color-body);
}

.nav__socials a {
  align-items: center;
  color: var(--color-body);
  display: flex;
  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
}

.nav__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: var(--color-body);
  margin-right: 1rem;
}

.nav__socials a:nth-child(3),
.nav__socials a:nth-child(3) svg {
  display: none;
}

.mobile-toggler svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #ffffff;
}

.collapsible__content {
  display: none;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links ul li {
    list-style: none;
    margin: 0 2rem;
  }

  .nav__links ul li a.active {
    color: var(--color-headings);
  }

  .nav__links ul li a.active:hover {
    color: var(--color-body);
  }

  .nav__socials {
    display: flex;
    align-items: center;
  }

  .nav__socials a {
    align-items: center;
    color: var(--color-body);
    display: flex;
    font-family: "Roboto Flex";
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    margin: 0 1rem;
  }

  .nav__icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-body);
    margin-right: 1rem;
  }

  .nav__socials a:nth-child(3),
  .nav__socials a:nth-child(3) svg {
    display: block;
    margin-right: 0;
  }

  .collapsible__content {
    display: inline-flex;
  }

  .collapsible--expanded .collapsible__content {
    display: inline-flex;
  }

  .mobile-toggler {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  header {
    padding: 3rem 1.5%;
    background: var(--color-primary);
    transition: all 0.5s ease;
  }

  .nav__socials a .nav__text {
    display: none;
  }
}

/* Service */

.service {
  padding: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-body);
  font-family: "Roboto Flex";
}

.service__header {
  text-align: center;
  width: 35%;
}

.service__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--color-headings);
}

.service__header p {
  font-size: 1.3rem;
}

.service__content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
}

.service__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28rem;
  aspect-ratio: 1/0.8;
  padding: 2rem;
  background: #414040;
  box-shadow: 8px 8px 10px rgb(11, 11, 11);
  transition: transform 0.2s ease;
}

.service__block:hover {
  transform: scale(1.05);
}

.service__icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  fill: #eddede;
}

.service__block h3 {
  color: #eddede;
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
}

.service__block p {
  color: #eddede;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .service__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .service__header {
    text-align: center;
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .service__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__header {
    text-align: center;
    width: 80%;
  }
}

/* About Me */

.about {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-body);
  font-family: "Roboto Flex";
}

.about__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 6rem;
  color: var(--color-headings);
}

.about__body {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__media {
  /* order: 2; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__frame {
  width: 50%;
  border: 5px solid var(--color-headings);
}

.about__media .image__frame img {
  box-shadow: 8px 8px 10px black;
  image-orientation: flip;
  translate: -2.3rem -1.7rem;
  width: 100%;
}

.about__content {
  color: #eddede;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__content p:first-child {
  margin-bottom: 1rem;
}

.personal_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem;
  justify-items: start;
  align-items: center;
  margin-top: 2.5rem;
}

.info__content h3 {
  font-size: 1.5rem;
  color: var(--color-headings);
  font-weight: normal;
}

.educational_info {
  margin-top: 3.5rem;
  align-self: flex-start;
}

.educational_info p:first-child {
  color: var(--color-headings);
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .image__frame {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .about__body {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .about__media {
    margin-bottom: 5rem;
  }
}

/* Footer */

.footer {
  color: var(--color-body);
  font-size: 1.3rem;
  letter-spacing: 1.5;
  font-family: "Roboto Flex";
  padding: 6rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__icons {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.footer__icons svg {
  height: 2.8rem;
  width: 2.8rem;
}

.footer__icons svg:hover {
  fill: var(--color-headings);
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.2s ease-in-out 0s;
}

.footer__content {
  margin-top: 3rem;
  width: 50%;
  text-align: center;
}

.footer h2 {
  margin-top: 3rem;
  font-family: "Bebas Neue";
  font-size: 3rem;
  color: var(--color-headings);
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .footer__content {
    width: 80%;
  }

  .footer__icons {
    width: 40%;
  }

  .footer__icons svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .footer__icons {
    width: 30%;
  }
}

/* Top Arrow */

.top-arrow {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  display: none;
  font-size: 24px;
  transition: opacity 0.5s;
  height: 5rem;
  width: 5rem;
}

/* Show the arrow when user scrolls */
.top-arrow.show {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px black;
  background: rgb(3, 3, 3);
}

.top-arrow svg {
  width: 30%;
  fill: var(--color-body);
}

.top-arrow:hover svg {
  width: 35%;
  transition: 0.2s;
  fill: var(--color-headings);
}
