:root {
  --color-primary: #333333;
  --color-secondary: #414040;
  --color-headings: #ffd700;
  --color-body: #ffffff;
  --swiper-theme-color: #ffd700 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.block {
  padding: 0 6rem;
  background: var(--color-primary);
}

@media screen and (max-width: 480px) {
  .block {
    padding: 0 2.5rem;
  }
}

.container {
  margin: 0 auto;
  background: var(--color-primary);
}

.hero {
  display: grid;
  gap: 3rem 3rem;
}

.hero__content {
  font-family: "Bebas Neue";
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  text-align: center;
}

/* Hero */

.hero__content > h1 {
  color: var(--color-headings);
  font-size: 4rem;
  line-height: 1.1;
  font-weight: normal;
  margin: 3rem 0 0 0;
}

.hero__content > h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  margin: 2rem 0 0 0;
}

.hero__content > p {
  font-size: 1.3rem;
  font-family: "Roboto Flex";
  color: #fff;
  margin: 1rem 0 0 0;
}

.hero__content a {
  background: var(--color-primary);
  border: 1px solid #c5b3b3;
  color: var(--color-headings);
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  outline: 0;
  padding: 0.6rem 4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3rem 0 0 0;
}

.hero__content a:hover {
  color: var(--color-primary);
  background: var(--color-headings);
  border: 1px solid var(--color-headings);
  transition: 0.5s;
}

.hero__footer {
  display: flex;
  align-items: center;
}

.hero__footer h1 {
  color: var(--color-headings);
  font-size: 4.7rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  margin-right: 1rem;
}

.hero__footer > p {
  color: var(--color-body);
  font-size: 1.5rem;
  font-family: "Roboto Flex";
  line-height: 1.3;
  text-align: start;
}

.hero__footer p:nth-child(2) {
  margin-right: 3rem;
}

.hero__image {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  background: #414040;
  border-radius: 50%;
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0;
  display: flex;
}

.circle img {
  align-self: flex-end;
}

.icon-container {
  width: 22%;
  aspect-ratio: 1/1;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  background: var(--color-secondary);
  box-shadow: 8px 8px 10px black;
  z-index: 500;
  position: absolute;
}

.icon-container-small {
  width: 17%;
  aspect-ratio: 1/1;
}

.icon-container-rotate {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container-rotate:hover {
  animation: rotateShadow 2.5s linear infinite;
}

@keyframes rotateShadow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-container svg {
  aspect-ratio: 1/1;
  fill: #fff;
  width: 60%;
}

.icon-container:hover svg {
  aspect-ratio: 1/1;
  fill: var(--color-headings);
  width: 70%;
  transition: 0.5s;
}

.icon-container-small svg {
  aspect-ratio: 1/1;
  width: 55%;
}

.icon-container-small svg:hover {
  aspect-ratio: 1/1;
  width: 65%;
}

.container-react {
  bottom: 30%;
  right: -3%;
}

.container-python {
  bottom: 37%;
  left: -4%;
}

.container-node {
  top: -2%;
  right: 20%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }

  .hero {
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 3rem;
    background: var(--color-primary);
  }

  .hero__content {
    align-items: flex-start;
    justify-content: start;
    text-align: start;
  }

  .hero__content > h1 {
    font-size: 5rem;
  }

  .hero__content > h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .hero__content > p {
    margin-top: 1rem;
  }

  .hero__content a {
    margin-top: 4rem;
  }

  .hero__footer {
    margin-top: 4rem;
    line-height: 1.1;
    padding: 0;
  }

  .hero__footer > h1 {
    margin: 0 10px 0 0;
  }

  .hero__footer p:nth-child(2) {
    margin-right: 5rem;
  }

  .hero__image {
    align-self: end;
    position: relative;
  }
}

/* Navbar */

header {
  padding: 3rem 10%;
  background: var(--color-primary);
}

.navbar {
  white-space: nowrap;
}

.nav__headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Bebas Neue";
  font-size: 2.6rem;
  font-weight: normal;
  color: var(--color-body);
}

.nav__links ul li,
.nav__socials a {
  margin: 1rem 0;
  padding-left: 1rem;
}

.nav__links ul li {
  list-style: none;
}

.nav__links ul li a {
  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-body);
}

.nav__links ul li a:hover,
.nav__socials a:hover .nav__icon use,
.nav__socials a:hover .nav__text {
  color: var(--color-headings);
  transition: 0.5s;
}

.nav__socials a:hover .nav__icon use {
  fill: var(--color-headings);
}

.nav__links ul li a .active {
  color: var(--color-headings);
}

.nav__links ul li a .active:hover {
  color: var(--color-body);
}

.nav__socials a {
  align-items: center;
  color: var(--color-body);
  display: flex;
  font-family: "Roboto Flex";
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: none;
}

.nav__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: var(--color-body);
  margin-right: 1rem;
}

.nav__socials a:nth-child(3),
.nav__socials a:nth-child(3) svg {
  display: none;
}

.mobile-toggler svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #ffffff;
}

.collapsible__content {
  display: none;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__links ul li {
    list-style: none;
    margin: 0 2rem;
  }

  .nav__links ul li a.active {
    color: var(--color-headings);
  }

  .nav__links ul li a.active:hover {
    color: var(--color-body);
  }

  .nav__socials {
    display: flex;
    align-items: center;
  }

  .nav__socials a {
    align-items: center;
    color: var(--color-body);
    display: flex;
    font-family: "Roboto Flex";
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
    margin: 0 1rem;
  }

  .nav__icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--color-body);
    margin-right: 1rem;
  }

  .nav__socials a:nth-child(3),
  .nav__socials a:nth-child(3) svg {
    display: block;
    margin-right: 0;
  }

  .collapsible__content {
    display: inline-flex;
  }

  .collapsible--expanded .collapsible__content {
    display: inline-flex;
  }

  .mobile-toggler {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  header {
    padding: 3rem 1.5%;
    background: var(--color-primary);
    transition: all 0.5s ease;
  }

  .nav__socials a .nav__text {
    display: none;
  }
}

/* Service */

.service {
  padding: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-body);
  font-family: "Roboto Flex";
}

.service__header {
  text-align: center;
  width: 35%;
}

.service__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--color-headings);
}

.service__header p {
  font-size: 1.3rem;
}

.service__content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
}

.service__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28rem;
  aspect-ratio: 1/0.8;
  padding: 2rem;
  background: #414040;
  box-shadow: 8px 8px 10px rgb(11, 11, 11);
  transition: transform 0.2s ease;
}

.service__block:hover {
  transform: scale(1.05);
}

.service__icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  fill: #eddede;
}

.service__block h3 {
  color: #eddede;
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0.8rem;
  letter-spacing: 0.05em;
}

.service__block p {
  color: #eddede;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .service__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .service__header {
    text-align: center;
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .service__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__header {
    text-align: center;
    width: 80%;
  }
}

/* About Me */

.about {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-body);
  font-family: "Roboto Flex";
}

.about__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 6rem;
  color: var(--color-headings);
}

.about__body {
  padding: 0 2rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__media {
  /* order: 2; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__frame {
  width: 50%;
  border: 5px solid var(--color-headings);
}

.about__media .image__frame img {
  box-shadow: 8px 8px 10px black;
  image-orientation: flip;
  translate: -2.3rem -1.7rem;
  width: 100%;
}

.about__content {
  color: #eddede;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__content p:first-child {
  margin-bottom: 1rem;
}

.personal_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem;
  justify-items: start;
  align-items: center;
  margin-top: 2.5rem;
}

.info__content h3 {
  font-size: 1.5rem;
  color: var(--color-headings);
  font-weight: normal;
}

.educational_info {
  margin-top: 3.5rem;
  align-self: flex-start;
}

.educational_info p:first-child {
  color: var(--color-headings);
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .image__frame {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .about__body {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .about__media {
    margin-bottom: 5rem;
  }
}

/* Footer */

.footer {
  color: var(--color-body);
  font-size: 1.3rem;
  letter-spacing: 1.5;
  font-family: "Roboto Flex";
  padding: 6rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__icons {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.footer__icons svg {
  height: 2.8rem;
  width: 2.8rem;
}

.footer__icons svg:hover {
  fill: var(--color-headings);
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.2s ease-in-out 0s;
}

.footer__content {
  margin-top: 3rem;
  width: 50%;
  text-align: center;
}

.footer h2 {
  margin-top: 3rem;
  font-family: "Bebas Neue";
  font-size: 3rem;
  color: var(--color-headings);
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .footer__content {
    width: 80%;
  }

  .footer__icons {
    width: 40%;
  }

  .footer__icons svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .footer__icons {
    width: 30%;
  }
}

/* Contact Us */

.contact {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  justify-content: center;
  align-items: center;
}

.contact__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 6rem;
  color: var(--color-headings);
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  width: 60%;
  background: var(--color-secondary);
  height: 50rem;
  box-shadow: 8px 8px 8px black;
}

.form__content {
  position: absolute;
  right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.form__content h2 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: normal;
  color: #eddede;
}

.form__content p {
  font-family: "Roboto Flex";
  font-weight: normal;
  color: #eddede;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1.5rem;
  background: #f5f1f1;
}

input::placeholder {
  font-family: "Roboto Flex";
}

input[type="textarea"] {
  height: 100px;
}

.form__content button {
  background: transparent;
  border: 1px solid #c5b3b3;
  color: var(--color-headings);
  font-size: 2rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  width: 35%;
  padding: 0.5rem 0;
}

.form__content button:hover {
  color: var(--color-primary);
  background: var(--color-headings);
  border: 1px solid var(--color-headings);
  transition: 0.5s;
}

.contact__info {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Flex";
  font-size: 1.2rem;
  color: var(--color-body);
  background: var(--color-secondary);
  position: absolute;
  width: 45%;
  left: -20%;
  box-shadow: 8px 8px 8px black;
  overflow: hidden;
}

.contact__info-header {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: normal;
  color: #eddede;
  margin-bottom: 3rem;
}

.contact__info-body {
  font-size: 1.2rem;
  color: #eddede;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.contact__info-body svg {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .contact__form {
    width: 75%;
  }

  .contact__info {
    width: 55%;
  }

  .form__content {
    right: 10%;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 0;
  }

  .contact__form {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .contact__info {
    padding: 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: none;
    position: static;
    width: 90%;
  }

  .contact__info-body {
    font-size: 1.2rem;
    margin: 0;
  }

  .contact__info-header {
    margin-top: 2rem;
    justify-self: center;
    grid-column: 1/3;
    margin-bottom: 0;
  }

  .form__content {
    margin: 2rem 0;
    text-align: center;
    position: static;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    padding: 0;
  }

  .contact__info {
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
    position: static;
    width: 75%;
  }

  .contact__info-header {
    align-self: center;
    margin-top: 2rem;
  }
}

/* Projects */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.project__header h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  color: var(--color-headings);
  margin-bottom: 6rem;
}

.project__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.project__block {
  position: relative;
  width: 28rem;
  aspect-ratio: 1/0.8;
  box-shadow: 0 0 10px black;
}

.project__block img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-secondary);
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.project__block:hover .overlay {
  opacity: 1;
}

.overlay .text {
  -ms-transform: translate(-50%, -50%);
  color: white;
  left: 50%;
  padding: 0 3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: wrap;
  width: 100%;
}

.overlay .text h3 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: normal;
  color: var(--color-headings);
}

.overlay .text p {
  font-family: "Roboto Flex";
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #eddede;
}

.overlay .text .overlay__footer {
  display: flex;
  align-items: center;
}

.overlay .text .overlay__footer a {
  text-align: center;
  background: transparent;
  border: 1px solid #c5b3b3;
  color: var(--color-headings);
  font-size: 1.5rem;
  font-family: "Bebas Neue";
  font-weight: normal;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  width: 35%;
  padding: 0.3rem 0;
  margin-right: 1rem;
}

.overlay .text .overlay__footer svg {
  fill: #eddede;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

.overlay .text .overlay__footer a:hover {
  color: var(--color-primary);
  background: var(--color-headings);
  border: 1px solid var(--color-headings);
  transition: 0.5s;
}

/* Swiper Slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .project__body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .project__container {
    display: none;
  }

  .project__body {
    gap: 0;
  }

  .project__block {
    box-shadow: none;
    object-fit: cover;
  }

  .overlay .text {
    text-align: start;
    padding: 0 5rem;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block !important;
    font-size: 3.5rem !important;
  }
}

@media screen and (max-width: 480px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: block !important;
    font-size: 2.5rem !important;
  }
}

/* Proficiency */

.proficiency {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--color-body);
  font-family: "Roboto Flex";
}

.proficiency h2 {
  font-family: "Bebas Neue";
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 6rem;
  color: var(--color-headings);
}

.proficiency__body {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5rem 0;
  padding: 0 2rem;
}

.skills {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.skills__container {
  aspect-ratio: 1/1;
  position: absolute;
  width: 24%;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #eddede;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
}

.skills__container:hover {
  transition: 0.2s;
  background: var(--color-primary);
}

.skills__container:hover svg {
  transition: 0.5s;
  width: 55%;
}

.skills__container svg {
  rotate: -90deg;
  width: 45%;
  aspect-ratio: 1/1;
  align-self: center;
  fill: #eddede;
}

.hex-1 {
  top: 50%;
  left: 17.4%;
}

.hex-2 {
  top: 24%;
  left: 17.4%;
}

.hex-3 {
  top: 11.1%;
  left: 37%;
}
.hex-4 {
  top: 37%;
  left: 37%;
}

.hex-5 {
  top: 62.9%;
  left: 37%;
}

.hex-6 {
  top: 24%;
  left: 56.6%;
}

.hex-7 {
  top: 50%;
  left: 56.6%;
}

.experience {
  background: var(--color-primary);
}

.experience__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3rem 1.5rem;
  margin-bottom: 3rem;
}

.experience__tag {
  clip-path: polygon(0% 0%, 81.63% 0%, 100% 49.63%, 82.13% 99.25%, 0% 100%);
  background-color: var(--color-secondary);
  height: 2rem;
  width: 4.5rem;
  margin-top: 11px;
}

.experience__tag p {
  font-family: "Bebas Neue";
  font-weight: normal;
  padding-left: 1rem;
}

.experience__path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience__circle {
  margin-top: 14px;
  width: 1.6rem;
  aspect-ratio: 1/1.35;
  border-radius: 50%;
  background: var(--color-headings);
  box-shadow: 0 0 15px var(--color-headings);
}

.experience__border {
  margin-top: 1.3rem;
  border-left: 2px solid #eddede;
  height: 100%;
}

.experience__content {
  color: #eddede;
  margin-left: 1.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.experience__content h2 {
  color: #eddede;
  font-size: 3rem;
  margin: 0;
}

.experience__content h3 {
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .proficiency__body {
    grid-template-columns: repeat(1, 1fr);
  }
  .proficiency__header {
    text-align: center;
  }
  .proficiency h2 {
    margin-bottom: 2rem;
  }
}

/* Top Arrow */

.top-arrow {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  display: none;
  font-size: 24px;
  transition: opacity 0.5s;
  height: 5rem;
  width: 5rem;
}

.top-arrow.show {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px black;
  background: rgb(3, 3, 3);
  z-index: 1000;
}

.top-arrow svg {
  width: 30%;
  fill: var(--color-body);
}

.top-arrow:hover svg {
  width: 35%;
  transition: 0.2s;
  fill: var(--color-headings);
}
