* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

:root {
  --color-primary: #333333;
  --color-secondary: #414040;
  --color-headings: #ffd700;
  --color-body: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  font-family: "Bebas Neue", "Roboto Flex";
}

.container {
  height: 100vh;
  width: 100%;
}

header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 60px 130px 60px 190px;
}

.navbar {
  align-items: center;
  background: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.logo h1 {
  margin: 0;
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 0;
  margin-right: 200px;
}

.navbar-links {
  display: flex;
  font-family: "Roboto Flex";
  justify-content: center;
  list-style: none;
  margin-right: 135px;
  padding: 0;
}

.navbar-links li {
  margin-right: 45px;
}

.navbar-links li a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}

.navbar-links li:first-child a {
  color: var(--color-headings);
}

.social-icons {
  align-items: center;
  display: flex;
  font-family: "Roboto Flex";
  justify-content: space-between;
}

.icon {
  margin: 0 50px 0 0;
}

.icon a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

.icon svg {
  fill: #fff;
  height: 35px;
  margin-right: 20px;
  width: 35px;
}

.icon-envelope svg {
  fill: var(--color-headings);
  height: 35px;
  margin-left: 44px;
  width: 35px;
}

.navbar-links li > a:hover,
.icon :hover {
  color: var(--color-headings);
  fill: var(--color-headings);
  transition: 0.5s;
}

.navbar-links li:first-child a:hover {
  color: #fff;
  transition: 0.5s;
}

.icon-envelope svg:hover {
  fill: #fff;
  transition: 0.5s;
}

.hero-section {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-content {
  padding-left: 290px;
  padding-top: 15rem;
}

.hero-content h1 {
  color: var(--color-headings);
  font-size: 85px;
  margin: 0;
}

.hero-content h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 22px;
}

.hero-content p {
  color: #fff;
  font-size: 20px;
  font-family: "Roboto Flex";
  margin: 20px 0 50px 0;
}

.hero-content button {
  background: var(--color-primary);
  border: 2.5px solid #c5b3b3;
  color: var(--color-headings);
  font-size: 35px;
  outline: 0;
  padding: 15px 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 120px;
}

.hero-content button:hover {
  color: var(--color-primary);
  background: var(--color-headings);
  border: 2.5px solid var(--color-headings);
  transition: 0.5s;
}

.hero-footer {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: var(--ff-accent);
  justify-content: center;
  margin-left: -95px;
}

.hero-footer h1 {
  color: var(--color-headings);
  font-size: 8.5rem;
  margin: 0;
}

.hero-footer p {
  color: var(--color-body);
  font-size: 3rem;
  margin: 0 5rem 0 2.5rem;
}

.hero-image {
  justify-self: center;
  align-self: end;
  position: relative;
}

.hero-image img {
  height: 700px;
  width: 7oopx;
}

.icon-container svg {
  fill: #fff;
  height: 10rem;
  width: 10rem;
}

.icon-container svg:hover {
  fill: var(--color-headings);
  height: 12rem;
  width: 12rem;
  transition: 0.5s;
}

.icon-container-small svg {
  height: 8rem;
  width: 8rem;
}

.icon-container-small svg:hover {
  height: 10rem;
  width: 10rem;
}

.circle {
  background: #414040;
  border-radius: 50%;
  height: 730px;
  position: absolute;
  width: 730px;
  z-index: -1;
  top: 40%; /* Added */
  left: 50%; /* Added */
  transform: translate(-50%, -50%); /* Added */
}

.icon-container {
  height: 20rem;
  width: 20rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 100%;
  background: var(--color-secondary);
  position: absolute;
  box-shadow: 8px 8px 10px black;
}

.icon-container-small {
  height: 15rem;
  width: 15rem;
}

.container-react {
  top: 250px;
  right: 5px;
}

.container-python {
  top: 200px;
  left: -20px;
}

.container-node {
  top: -100px;
  right: 150px;
}

.container-blank {
  height: 25px;
  width: 25px;
  top: -70px;
  left: 60px;
}
